@media (prefers-color-scheme: light) {
    body {
        --background-color: white;
        --color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        --background-color: black;
        --color: white;
    }
}

body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: sans-serif;
}